@model ImportUsersViewModel
@using EdugameCloud.MVC.ViewModels
@using Esynctraining.Core.Utils
@using Resources
@{
    Layout = EdugameCloudT4.Shared.Views._Layout;
    ViewBag.Title = Index.Title;
}

<div id="flashContent" style="width: 100%; height:100%">
    @using (Html.BeginForm(EdugameCloudT4.File.ImportUsers(), FormMethod.Post, new { style = "margin:auto; width: 621px;", enctype = "multipart/form-data" }))
    {
        @Html.ValidationSummary()
        @Html.LabelFor(x=>x.CompanyId)
        @Html.DropDownListFor(x=>x.CompanyId, Model.Companies, new {style = "margin-bottom:20px; margin-left:153px"})<br/>
        @Html.LabelFor(x=>x.ProfilesFile, new {style = "margin-bottom:20px;" })
        <input type="file" name="@(Lambda.Property<ImportUsersViewModel>(x=>x.ProfilesFile))" id="@(Lambda.Property<ImportUsersViewModel>(x=>x.ProfilesFile))" />
        <button type="submit" title="Upload and process" style="margin-right:110px;margin-top:20px; float:right">Upload and process</button>
    }
</div>
        
        
           
       
    
               
