@model EdugameCloud.Lti.Models.OutcomeModel

@{
    ViewBag.Title = "Outcomes";
    if(System.Web.Helpers.AntiForgeryConfig.SuppressXFrameOptionsHeader == false)
    {
        System.Web.Helpers.AntiForgeryConfig.SuppressXFrameOptionsHeader = true;
    }
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - eSyncTraining</title>
</head>
<body scroll="yes" style="padding: 20px;">

<div class="container body-content" style="height: 600px; width: 300px;">
    <h2>eSyncTraining LTI Outcomes Service</h2>
    <p>On a scale of <code>0.0</code> to <code>1.0</code>, how well would you say you did on this assessment?
    </p>

    @using (Html.BeginForm("Outcomes", "Lti", FormMethod.Post))
    {
        
    @Html.AntiForgeryToken()
        
    <p>
        Grade to send to the Tool Consumer:
        @if (Model.Score.HasValue)
        {
            @Html.TextBoxFor(m => m.Score, new {Model.Score.Value})
        }
        else
        {
            @Html.TextBoxFor(m => m.Score, new {Value = ""})
        }
        @ViewBag.Message
    </p>
    @Html.HiddenFor(m => m.LmsProviderName)
    <input type="submit" name="submit" value="Send Grade"/>
    <input type="submit" name="submit" value="Read Grade"/>
    <input type="submit" name="submit" value="Delete Grade"/>
    }
       
    </div>

</body>
</html>

