@model Esynctraining.Lti.Lms.Common.Dto.Outcomes.OutcomeModel

@{
    ViewBag.Title = "Outcomes";
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - eSync Zoom LTI provider</title>
</head>
<body scroll="yes" style="padding: 20px;">

<div class="container body-content" style="height: 600px; width: 300px;">
    <h2>eSync Zoom LTI Outcomes Service</h2>
    <p>On a scale of <code>0.0</code> to <code>1.0</code>, how well would you say you did on this assessment?
    </p>

    @using (Html.BeginForm("Outcomes", "Lti", FormMethod.Post))
    {
        
        @Html.AntiForgeryToken()
        
    <p>
        Grade to send to the Tool Consumer:
        <input type="text" data-val="true" data-val-number="The field Score must be a number." id="Score" name="Score" value="@Model.Score.GetValueOrDefault()" />
        @ViewBag.Message
    </p>
        @Html.HiddenFor(m => m.Session)
        <input type="submit" name="submit" value="Send Grade"/>
        <input type="submit" name="submit" value="Read Grade"/>
        <input type="submit" name="submit" value="Delete Grade"/>
    }
       
</div>

</body>
</html>

