<!DOCTYPE html>
<html>
<head>
    <title>eSyncTraining Zoom Lti</title>
</head>
<body>


<div id="app">
    Office Hours session has been rescheduled. Details:<br/><br/>

    Old Date: @Model.Date<br/>
    New Date: @Model.NewDate<br/>
    Meeting: @Model.MeetingName<br/>
    Subject: @Model.Subject<br/>
    Questions: @Model.Questions<br/>
    <br/>Message from teacher: @Model.Message
</div>
</body>
</html>