<!DOCTYPE html>
<html>
<head>
    <title>eSyncTraining Zoom Lti</title>
</head>
<body>
    <div id="app">
        @Model.UserName has booked the Session<br /><br />
        Date: @Model.Date<br />
        Meeting: @Model.MeetingName<br />
        Subject: @Model.Subject<br />
        Questions: @Model.Questions<br />
    </div>
</body>
</html>