@using EdugameCloud.MVC.Links
@using EdugameCloud.MVC.Constants
@using Resources
@using BundleScripts = System.Web.Optimization.Scripts
@using BundleStyles = System.Web.Optimization.Styles
@model EdugameCloud.MVC.ViewModels.BaseViewModel
@{
    Layout = EdugameCloudT4.Shared.Views._BaseLayout;
}
@section HeadContent {
	@BundleScripts.Render(Bundles.JQuery)
	@BundleScripts.Render(Bundles.Core)
	<link href='//fonts.googleapis.com/css?family=Titillium+Web:900,700,600,300,200,400,300italic' rel='stylesheet' type='text/css' />
	@BundleStyles.Render(Bundles.Css)
	@Html.Partial(EdugameCloudT4.Shared.Views._IESpecific)
	@RenderSection("Head", required: false)
}

<div role="header" class="wrap">
	<div class="logo">
		<a href="@Url.Action(EdugameCloudT4.Home.Admin())" title="@Common.ApplicationName">
			<img src="@Content.images.header_png" alt="@Common.ApplicationName" />
		</a>
	</div>
</div>
@RenderBody()