@using Esynctraining.Core.Extensions
@using Resources
@model EdugameCloud.SocialStream.Host.ViewModels.BaseViewModel
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>@Common.PageTitlePrefix &nbsp;-&nbsp; @ViewBag.Title</title>
		<base href="@Model.With(x => x.HtmlBaseUrl)" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		@RenderSection("HeadContent", required: false)
	</head>
	<body>
		@RenderBody()
	</body>
</html>