@model EdugameCloud.Lti.Models.ProxyToolPasswordModel
@{
	Layout = null;
}
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>@Model.BlackBoardTitle Password Prompt</title>
	<style>
		.content {
			width: 700px;
			margin-left: auto;
			margin-right: auto;
		}

		.div-table {
			display: table;
			width: auto;
			background-color: #eee;
			border: 1px solid #666666;
			border-spacing: 5px; /*cellspacing:poor IE support for  this*/
		}

		.div-table-row {
			display: table-row;
			width: auto;
			clear: both;
		}

		.div-table-col {
			float: left; /*fix for  buggy browsers*/
			display: table-column;
			width: 200px;
		}

		.last {
			width: 480px !important;
		}
	</style>
</head>
<body>
	<div class="container">
		<div class="content">
			@using (Html.BeginForm("register-proxy-tool", "LtiProxyTool", FormMethod.Post))
			{
			@Html.HiddenFor(x => x.LmsDomain)
			@Html.HiddenFor(x => x.LtiVersion)
			@Html.HiddenFor(x => x.BlackBoardTitle)
			<div class="div-table">
				<div class="div-table-row">
					<h2> Please provide with @Model.BlackBoardTitle Proxy Tool Registration Password </h2>
					<h3> It can be found at: <br /> <a href="@(Model.LmsDomain + "/webapps/ws/wsadmin/wsglobalprops")">System Admin -> Building Blocks -> Proxy Tools -> Manage Global Properties -> Proxy Tool Registration Password</a></h3>
				</div>
				<div class="div-table-row">
					<div class="div-table-col">@Html.LabelFor(x => x.RegistrationPassword)</div>
					<div class="div-table-col last">@Html.PasswordFor(x => x.RegistrationPassword, new { style = "width: 300px; float:right;" })</div>
				</div>
				<div class="div-table-row">
					<div class="div-table-col">&nbsp;</div>
					<div class="div-table-col last"><input type="submit" value="Register Tool" style="float:right" /></div>
				</div>
			</div>
			}
		</div>
	</div>
</body>
</html>
